<p id="notice"><%= notice %></p>
 <div class="row">      
    <div class="col-md-10">
      <p>::Store Details</p>
    </div>
    <div class="col-md-4-right">
      <%= button_to 'Store List', stores_path, :class => 'btn btn-primary', :method => :get%>
    </div>
  </div>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @store.active %>
</p>

